[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
organise = "python3 source/organise.py"
watch = "python3 source/watch.py"
lint = "pylint source"
coverage = "pytest --cov-report html --cov=source source"
test = "pytest source"

[packages]
watchdog = ">=2.2"

[dev-packages]
pyinstaller = ">=5.7"
pylint = ">=2.15"
pytest = ">=7.2"
pytest-cov = ">=4.0"
pyfakefs = ">=5.1"

[requires]
python_version = "3.10"
